/*
Milestone 1
Replica della grafica con la possibilità di avere messaggi scritti dall’utente (verdi) 
e dall’interlocutore (bianco) assegnando due classi CSS diverse
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for,
 visualizzare nome e immagine di ogni contatto

*/

:root {
  --mr-nav: rgb(234, 234, 234);
  --mr-msg_green: rgb(213, 249, 186);
  --mr-msg_white: rgb(255, 255, 255);
  --mr-notifiche: rgb(142, 218, 252);
  --mr-hovergray: rgb(251, 252, 252);
  --mr-msg-send: rgb(213, 249, 186);
}
/*-----------color------*/
body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #00bfa5 15%,
    #f0f0f0 15%,
    #f0f0f0 100%
  );
}

main {
  height: 90vh;
}
.container {
  /* width: 1400px; */
}
.row {
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  justify-content: center;
  height: 800px;
}
.col-4 {
  border: 0.5px solid lightgrey;
  width: 400px;
}
.col-8 {
  background-color: var(--mr-nav);
  width: 800px;
  position: relative;
}
.col-6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.4rem;
}

ul {
  list-style: none;
}
li {
  /* padding: 1rem; */
  padding: 0.5rem;
}
/* li.media:hover {
  cursor: pointer;
  background-color: #eaeaea;
} */
#user {
  background-color: var(--mr-nav);
}
#notifiche {
  background-color: var(--mr-notifiche);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
#search {
  border: 0.5px solid lightgrey;
}
#contacts {
  border: 0.5px solid lightgrey;
}

img {
  height: 50px;
  border-radius: 50%;
  margin-left: 0.5rem;
}
/* icon */
#icon {
  color: rgba(128, 128, 128, 0.795);
  margin-right: 1rem;
}
.fas {
  margin: 0.4rem;
  font-size: 18px;
}
#text-left {
  margin-right: 10rem;
  font-size: small;
}
#text-accesso {
  font-size: 12px;
  line-height: 40%;
  margin-right: 30rem;
}
/* <!-- SEZIONE CONTATTI -START-> */
#contacts {
  display: flex;
  gap: 0.5rem;
}
#each-text {
  font-size: 12px;
  line-height: 40%;
}
.ora {
  font-size: 12px;
  margin-left: 10rem;
  margin-top: 0.5rem;
}
/* <!-- SEZIONE CONTATTI -END-> */
#text-notifiche {
  font-size: 12px;
  line-height: 40%;
  margin-left: 1rem;
}
/* icon bell */
.input-group {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: white;
}
.btn,
.form-control {
  height: 2rem;
  border: 0.5px solid lightgrey;
}
.btn {
  width: 4rem;
  background-color: white;
  margin-left: 0.5rem;
}
.form-control {
  width: 20rem;
}
/* search */
#text-accesso > p {
  color: grey;
}
.iconbell {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mr-notifiche);
}
/* -- LEFT SIDE ON TOP-- */
#personale {
  border: 0.5px solid lightgrey;
}
/*-- RIGHT SIDE ON TOP---*/

#bg-chat {
  border: 0.5px solid lightgrey;
  background-image: url(/assets/img/mine.jpg);
  height: 90%;
}
#chat {
  background-color: var(--mr-nav);
  border: 0.5px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6%;
}
.icon-left,
.icon-right {
  color: grey;
  font-size: x-large;
}
.icon-left {
  margin-left: 1rem;
}
.middle {
}
.icon-right {
  margin-right: 1rem;
}
/* RIGHT SIDE BOTTOM */
.dx {
  display: flex;
  justify-content: end;
}
.sent {
  background-color: var(--mr-msg-send);
  box-shadow: 7px 7px 13px -2px rgba(81, 81, 81, 0.41);
  width: 18rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}
.sx {
  display: flex;
  justify-content: start;
}
.received {
  background-color: #f0f0f0;
  box-shadow: 7px 7px 13px -2px rgba(81, 81, 81, 0.41);
  width: 18rem;
  height: 2.8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}
#xmark {
  color: red;
  margin: 1rem;
}
