body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #00bfa5 15%,
    #f0f0f0 15%,
    #f0f0f0 100%
  );
}
main {
  height: 90vh;
}
.container {
  /* width: 1400px; */
}
.row {
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  justify-content: center;
  height: 800px;
}
.col-4 {
  background-color: blue;
  width: 400px;
}
.col-8 {
  background-color: rgb(43, 182, 8);
  width: 800px;
}
#me {
  background-color: aqua;
}
#user {
  background-color: coral;
}
